@tailwind base;
@tailwind components;
@tailwind utilities;









@font-face {font-family: "Google Sans Regular";
    src: url("./assets/fonts/google_sans_regular.eot"); /* IE9*/
    src: url("./assets/fonts/google_sans_regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/google_sans_regular.woff2") format("woff2"), /* chrome、firefox */
    url("./assets/fonts/google_sans_regular.woff") format("woff"), /* chrome、firefox */
    url("./assets/fonts/google_sans_regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./assets/fonts/google_sans_regular.svg#Google Sans Regular") format("svg"); /* iOS 4.1- */
}


@font-face {font-family: "Google Sans Medium";
    src: url("./assets/fonts/google_sans_medium.eot"); /* IE9*/
    src: url("./assets/fonts/google_sans_medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/google_sans_medium.woff2") format("woff2"), /* chrome、firefox */
    url("./assets/fonts/google_sans_medium.woff") format("woff"), /* chrome、firefox */
    url("./assets/fonts/google_sans_medium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./assets/fonts/google_sans_medium.svg#Google Sans Regular") format("svg"); /* iOS 4.1- */
}
  
  
@font-face {font-family: "Google Sans Bold";
    src: url("./assets/fonts/google_sans_bold.eot"); /* IE9*/
    src: url("./assets/fonts/google_sans_bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./assets/fonts/google_sans_bold.woff2") format("woff2"), /* chrome、firefox */
    url("./assets/fonts/google_sans_bold.woff") format("woff"), /* chrome、firefox */
    url("./assets/fonts/google_sans_bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./assets/fonts/google_sans_bold.svg#Google Sans Regular") format("svg"); /* iOS 4.1- */
}




/* BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    /* background: #d3d3d3; */
    background-image: url('../src/assets/images/thailand.jpeg');
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 3000px rgb(62 28 102 / 70%) inset; */
    box-shadow: 0 3000px rgb(26 46 55 / 30%) inset;
}







.test {
    padding: 8px 0;
}

.banner-header-text {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

.topbar {
    text-align: center;
    background: #eeec76;
}

/* .topbar-item {
    font-size: 14px;
    color: #fff;
} */

.nav-email {
    background: #f8c24d;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    font-style: italic;
}

.destination-header {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    color: #5b5b5b;
    font-family: "Google Sans Regular";
}

.top-destination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #929292;
    padding: 5px 0;
}

.footer-copyright {
    font-family: "Google Sans Regular";
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

.slick-prev:before, .slick-next:before {
    color: #000;
}


.slick-slide div {
    margin: 0 1px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-next {
    right: 10px;
    z-index: 1;
}




